echo "# The-jail" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/HALOMARINE82739/The-jail.git
git push -u origin main
